.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #a3bfd5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.cardNumber {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.cardEdit {
  color: #025efe;
}

.enterDigit {
  color: rgb(169, 168, 168);
  font-size: 0.8rem;
}

.placeHolder {
  background-image: url(/public/icons/mCard1.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  text-indent: 46px;
  border-color: rgb(217, 220, 218);
  height: 3.5rem;
  margin-bottom: 14px;
}

.placeHolder::placeholder {
  color: #afb8ca;
}

form h5 {
  font-size: 1rem;
}

form,
form div {
  padding: 2% 0;
}


.spanDetails {
  color: rgb(169, 168, 168);
  font-size: 0.8rem;
}
.cvvInput,
.passwordInput {
  background-image: url(/public/icons/grid.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  height: 3.5rem;
}

.expiryDate { 
  padding: 8px 0 0 0;
}

.expiryDateDigit {
  display: flex !important;
  justify-content: flex-end !important;
  margin: 0 !important;
  padding: 0 !important;
}

.expiryDate input {
  height: 3.5rem;
  text-align: center;
  padding: 0 !important; 
}

.expiryDate .col-2 span {
  display: flex;
 font-size: 1.5rem;
 padding-top: 64%;
}

.password {
  margin: 0;
}
.passwordInputDiv {
  padding: 0 !important;
}
.cvvInput::placeholder,
.expiryDate input::placeholder,
.passwordInput::placeholder {
  color: #252e50;
  font-weight: bold;
  font-size: 1rem;
}

.passwordInput::placeholder {
  font-size: 32px;
  text-align: left;
  padding-left: 13px;
}

.payButton {
  display: flex;
  justify-content: center;
  background-color: #025efe;
  border-radius: 12px !important;
  margin: 0 0 5% 0;
}

 .payButton button { 
  width: 100%;
  height: 3.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.3rem; 
 } 

.cardDetails {
  font-weight: bold;
  border-radius: 12px;
}

.cardDetails2 {
  background-color: #EFF5F9;
  padding: 0 12px;
}

.appleIcon {
  width: 22px;
}

.receiptDiv {
  height: 4rem;
}

.receiptDiv .blackText {
  font-size: 2rem;
}

.receipt {
  width: 26px;
  height: 30px;
}

.invoiceDiv {
display: flex;
justify-content: flex-end;
}

.pattern {
  width: 100%;
  padding: 0;
}

.mCard2 {
  width: 46px;
}

.mCard2-div {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 20px 0;
}

.creditCard {
  padding: 0 1rem 1rem 1rem;
}

.bg{
  margin: 0 0.5rem;
}

.creditCard-bg {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding: 24% 1% 0 4%;
}

.cardChipRow {
  margin: 0 1px;
  padding: 0 3%;
}

.cardChip {
  padding-top: 12px;
  background-color: #fff;
  border-left: solid 0.2px #f3f7f4;
  border-top: solid 0.2px #f3f7f4;
}

.network {
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
  border-right: solid 0.2px #f3f7f4;
  border-top: solid 0.2px #f3f7f4;
  padding-top: 12px;
}

.firstRow {
  padding: 3rem 0 0 0;
}

.greyText {
  color: rgb(169, 168, 168);
  font-size: 0.9rem;
}

.blackText {
  font-size: 0.9rem;
}
