.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #a3bfd5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.cardNumber {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-weight: bold;
}

.cardEdit {
  color: #025efe;
}

.enterDigit {
  color: rgb(169, 168, 168);
}

.placeHolder {
  background-image: url(/public/icons/mCard1.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  text-indent: 46px;
  border-color: rgb(220, 217, 217);
  height: 4rem;
}

.placeHolder::placeholder {
  color: #afb8ca;
}

.cardNumberInput {  
  padding: 30px 0;
}

.cvv span {
  color: #d2d6e7;
}
.cvvInput,
.passwordInput {
  background-image: url(/public/icons/grid.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  height: 4rem;
}

.expiryDate { 
  padding-right: 0 !important;
}

.expiryDate input {
  height: 4rem;
  text-align: center;
  padding: 0 !important;
}

.expiryDate .col-2 span {
 display: flex;
 justify-content: center;
 font-size: 1.5rem;
 padding-top: 2.6rem;
}

.cvvInput::placeholder,
.expiryDate input::placeholder,
.passwordInput::placeholder {
  color: #252e50;
  font-weight: bold;
}

.passwordInput::placeholder {
  font-size: 32px;
  text-align: left;
  padding-left: 13px;
}

.payButton {
  display: flex;
  justify-content: center;
  background-color: #025efe;
 
}

.payButton button {
  width: 100%;
  height: 4rem;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

form input,
.payButton {
  border-radius: 12px !important;
  margin-top: 34px;
}

.card {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border: transparent;
  background-color: #eff4f8;
}

.card-body {
  height: 85vh;
  background-color: #fff;
}

.bg .col-6,
.bg .col-12 {
  background-color: #eff4f8;
}

.appleIcon {
  width: 22px;
}

.receiptDiv {
  height: 4rem;
  padding-top: 12px;
}

.receipt {
  width: 26px;
  height: 30px;
}

.invoiceDiv {
display: flex;
justify-content: flex-end;
padding-top: 12px;
}

.pattern {
  width: 100%;
  padding: 0;
}

.mCard2 {
  width: 46px;
}

.mCard2-div {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 20px 0;
}

.creditCard {
  background-color: #eff4f8;
  padding: 0 10px 20% 10px;
}

.creditCard-bg {
  background-color: #fff;
}